.header {
  padding: 20px;
  background: #ff4081;
  color: white;
  border-radius: 15px 15px 0 0;
}

.header__title {
  font-size: 36px;
  margin: 10px 0;
}

.header__subtitle {
  font-size: 20px;
  font-weight: 300;
}

.header__imagen {
  border-radius: 100px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  max-width: 150px;
  max-height: 150px;
}

@media screen and (max-width: 480px) {
  .header__title {
    font-size: 28px;
  }
  .header__subtitle {
    font-size: 16px;
  }
}
