.Mensajes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}

.Mensajes__imagen {
  max-width: 800px;
  border-radius: 10px;
}

.Mensajes__paragraph {
  font-size: 50px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .Mensajes__imagen {
    max-width: 300px;
  }
}
